<h1>This is the homepage.</h1>
<p>This is the description of the homepage where you can learn more about the home page and probably see some listings of things.</p>

<p>Sign up <%= link_to "here.", "#" %></p>
