// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.single-shop img {
	width:100%;
}

.box {
	width: 30%;
	margin: 10px 2% 10px 0;
	float:left
}

.box img {
	width:100%;
	margin:0 0 20px 0;
	padding:0;
}

.shop-nav{
	padding:4px 20px 4px;
	margin: 0 0 20px 0;
	background: #f8f8f8;
	border: 1px solid #ddd;
}

.prev-link{
	float:left;
}

.next-link{
	float:right;
}

.clear{
	clear: both;
}

@media only screen 
and (max-width : 320px) {
.box {
	width: 100%;
	margin: 10px 0 10px 0;
	float:left
}
}
