<div class="navbar navbar-fixed-bottom navbar-default" role="navigation">
	<div class="container footer">
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Locations", locations_path %></li>
		</ul>
	</div><!-- /container -->
</div><!-- /navbar -->
